.game-layout.game-select.hide
  .select-title Select Players
    .time-count
  each player in players
    .select-box(type='#{player.id}', class=player.isHidden?'hide':'')
      .game-player(type='#{player.id}')
        .player-record
          .rec
            //-| #{player.won} - #{player.played-player.won}
            if player.played > 0
              | #{(player.won/player.played*100).toFixed(2)} %
            else
              | 0%
          //-.title RECORD
          .title WINS
        .player-avatar
      .player-name #{player.name}
        span.player-who
  .continue-button.hide
    .button Start The Game