.game-select.hide
  .select-title Select Players
  each player in players
    .select-box(type='#{player.id}', class=player.isHidden?'hide':'')
      .game-player(type='#{player.id}')
        .player-record
          .title RECORD
          .rec #{player.won} - #{player.played-player.won}
        .player-avatar
      .player-name #{player.name}
  .continue-button.hide
    .button Start The Game